services:
  - type: web
    name: eliteeats-hub
    runtime: node
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install && npm run build
    startCommand: npm start
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        value: postgresql://neondb_owner:npg_nGFrM4pKTl6s@ep-ancient-hall-adqf2xal-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
      - key: PORT
        value: 10000
